<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Namer</title>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <div class="page-header">
                <span>Namer. Shows last five names added</span>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="footer">
            &copy; Copyright 2019, Bulat Zamilov
        </footer>
    </div>
</body>
</html>