{% extends "main.html" %}
{% import "_forms.html" as forms %}

{% block content %}
    <form action="." method="post">
        <div>
            {{ forms.render(form) }}
            <input type="submit" class="btn btn-outline-primary btn-sm" value="Add">
        </div>
    </form>

    {% if names %}
    <ul class="list-group">
        {% for name in names %}
            <li class="list-group-item no-border">{{ name.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if not names %}
        <div class="suggestion">There are no any name in list. You may add some</div>
    {% endif %}
{% endblock %}